{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-6">
        <br>
        <br>
        <br>
        <form method="POST" id="registrationform">{% csrf_token %}
            <h4>Email</h4>>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <br>
            <h4>Username</h4>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
            <br>
            <h4>Password</h4>
            <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
            <br>
            <h4>Confirm password</h4>
            <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
            {% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}
                <br>
                <br>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

			
        </form>
    </div>

</div>

{% endblock %}