{% extends 'base.html' %}

{% block content %}

<h3>Your account creation is successful.</h3>
<h6>Login in to your account.</h6>
<form class="form-signin" method="post">{% csrf_token %}
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    {% for field in login_form %}
    <p>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    {% if login_form.non_field_errors %}
    <div style="color: red">
    <p>{{login_form.non_field_errors}}</p>
    </div>

    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</but>ton
    </form>

    <div class="d-flex flex-column my-4">
        <a class="m-auto" href="#">Reset password</a>
    </div>
{% endblock %}